<div class="banner" data-rellax-speed="-7">
    <div>
        <div class="hero">
            <h1><span class="initial">T</span>eam <span class="initial">360°</span></h1>
            <p class="m-2">orientacja sportowa, biegi, rowery, treningi</p>
            <div>
                <a href="pages/join/" class="btn btn-warning">Dołącz</a>
                <a href="https://paypal.me/team360" class="btn btn-warning">Zrzutka</a>
            </div>
        </div>
        <div class="container d-none d-lg-block">
        {% include "partials/intro.njk" %}
        </div>
    </div>
</div>