<div class="intro-text container mt-2">
    <div class="row justify-content-md-center">
        <p>Od 2008 roku razem podróżujemy po kraju i świecie, ścigamy się i organizujemy 
        zawody – czyli robimy to, co lubimy. Promocja i organizowanie rajdów przygodowych, 
        współpraca w dziedzinie szeroko pojętego wf - to, między innymi, cele statutowe 
        naszego Stowarzyszenia.</p>
        <p>&nbsp;</p>
    </div>
</div>